@import "./reset.scss";
@import "./variable.scss";

* {
  font-family: "Noto Serif TC", serif;
}
button,
input {
  outline: none;
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.textRight {
  text-align: right !important;
}
.textCenter {
  text-align: center !important;
}
.textThrough {
  text-decoration: line-through !important;
}
.red {
  color: red !important;
}
