$primary: #92a6b5;
$btn-star: #bf969f;
$btn-star-hover: #caa1aa;
$btn-cart: #668197;
$btn-cart-hover: #708da5;
$active: #00a5a8;
$dark: #24333f;
$light: #d9dfe5;
$red: #842b00;
$yellow: #ffd306;
%abutton {
  display: inline-block;
  text-decoration: none;
}
@function line($count: 1, $baselineheight: 8px) {
  @return $baselineheight * $count;
}
